body{
  margin: 0;
  padding: 0;
  background-color: purple;
  overflow-x: hidden;
  overflow-y:scroll;
}

h1{
  font-size: 5em;
}

.section{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 90vh;
  border: 3px solid green;
  margin-top: 5vh;
}

#threejs-model {
  border: 3px solid red;
  width: 400px;    
  height: 500px;
  background: transparent;
}

#quote-section{
  flex-direction: row;
}

#quote-section div{
  height: 100%;
  width: 33vw;
  border: 3px solid red; 
}