<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/others.css" />
        <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Google+sans|Lobster|Roboto"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Playwrite+GB+J+Guides:ital@0;1&display=swap" rel="stylesheet">
    <title>Odiedo Initiative - About</title>
</head>
<body>
    <div class="custom-dot-cursor"></div>
    <div class="blob-bg">
        <div class="blob"></div>
        <div class="blob"></div>
        <div class="blob"></div>
        <div class="blob"></div>
        <div class="blob"></div>
        <div class="blob"></div>
        <div class="blob"></div>
    </div>
    <div id="nav-bar">
        <h2>Odiedo Initiative</h2>
        <div id="rest">
            <a href="/" style="text-decoration: none; color: white">Home</a>
            <a href="/about" style="text-decoration: none; color: white">About</a>
            <a href="/africa" style="text-decoration: none; color: white">Africa</a>
            <a href="/connect" style="text-decoration: none; color: white">Connect</a>
        </div>
    </div>

    <h1>My Vision</h1>
        <p>Africans Equal representatiion</p>
    <h1>Problem Statement</h1>
    <p>Sooooooon!!</p>
    <script type="module" src="{{ url_for('static', filename='js/others.js') }}"></script>
</body>
</html>