<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script type="importmap">
        {
        "imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@0.164.1/build/three.module.js",
            "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.164.1/examples/jsm/"
        }
        }
    </script>
    <title>Why African Voices Go Unheard</title>
</head>
<body>
    <div class="blob-bg">
        <div class="blob"></div>
        <div class="blob"></div>
        <div class="blob"></div>
        <div class="blob"></div>
        <div class="blob"></div>
        <div class="blob"></div>
        <div class="blob"></div>
    </div>
    <div class="section">
        <h1>Are African Voices In Tech Heard?</h1>
        <div id="threejs-model"></div>
    </div>
    <div class="section" id="quote-section">
        <div>                                                                            
            <p>It is a peculiar triumph of society that it is able to convince those<br>
                decree; It has the force and the weapons to translate <br>
                actually made so insofar<br>
        </div>
        <div></div>
        <div>                                                                                           
            <p id="R"> people to whom it has given inferior status of the reality of this<br>
                <span id="R1">its dictum into fact so that the allegedly inferior are<br></span>
                <span id="R2">as the societal realities are concerned<br></span>
            </p>
        </div>
    </div>
    <div class="section">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex asperiores facere unde cupiditate tenetur id maxime natus corrupti 
            consequatur aspernatur magnam voluptatem quia dolor porro, ullam laborum. Alias, quod voluptatibus?</p>
    </div>
    <div class="section"></div>
    <div class="section"></div>
    <div class="section"></div>
    <div class="section"></div>
    <div class="section"></div>
    <div class="section"></div>
    <div class="section"></div>
    

    
    <script type="module" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>